body{
    background-color: #181818;
}

body::-webkit-scrollbar {
    width: 12px;              
}
  
body::-webkit-scrollbar-track {
    background: #2f2f2f;        
}
  
body::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;    
    border-radius: 20px;       
    border: 2px solid #656565;  
}

.bg-img{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.karla-font {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
  
.nav-text{
    font-size: min(20px, 4vw); 
}

a:hover {
    color:#EAC683!important;
}

section h3{
    color: #ffffff;
    margin-top: 70%;
    text-align: center;
}


